* {
  margin: 0;
  padding: 0;
  font-family: "Microsoft YaHei", "WenQuanYi Micro Hei", Arial, Verdana, Tahoma, sans-serif;
  font-size: 14px;
}
a {
  text-decoration: none;
}
ul,
li {
  list-style-type: none;
}
body > header > div > ul {
  max-width: 1140px;
  margin: 0 auto;
  text-align: justify;
  height: 62px;
}
body > header > div > ul > li:not(:nth-child(9)) {
  display: inline-block;
  vertical-align: top;
}
body > header > div > ul > li:not(:nth-child(9)) > a {
  display: block;
  line-height: 62px;
  color: #666;
  padding: 0 10px;
}
body > header > div > ul > li:not(:nth-child(9)) > a > img {
  display: block;
}
body > header > div > ul > li:not(:nth-child(9)) > a:hover {
  color: #fff;
  background-color: #32A5E7;
  transition: all 0.45s linear;
}
body > header > div > ul > li:not(:nth-child(9)) > .default {
  color: #fff;
  background-color: #32A5E7;
}
body > header > div > ul > li:nth-child(1) > a {
  padding: 0;
}
body > header > div > ul > li:nth-child(9) {
  width: 100%;
  display: inline-block;
}
body > section {
  background-color: #EEEEEE;
}
body > section > div {
  background: url("../image/beijing-01.jpg") no-repeat;
  background-position: top center;
  padding: 89px 0 0 0;
  margin: 0 0 100px 0;
}
body > section > div > div:nth-child(1) {
  background: url("../image/beijing-00.jpg") no-repeat center;
  background-size: 100% 659px;
  height: 659px;
  max-width: 1000px;
  margin: auto;
  position: relative;
}
body > section > div > div:nth-child(1) > ul {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
}
body > section > div > div:nth-child(1) > ul > li {
  box-sizing: border-box;
  width: 190px;
  line-height: 60px;
  text-align: center;
  color: #999;
  border-bottom: 1px solid #AF2131;
  position: relative;
  cursor: pointer;
}
body > section > div > div:nth-child(1) > ul > li > span:nth-child(1) {
  position: absolute;
  z-index: 10;
  top: 5px;
  left: 42px;
  width: 21px;
  height: 21px;
  display: inline-block;
}
body > section > div > div:nth-child(1) > ul > li > span:nth-child(2) {
  display: none;
  position: absolute;
  z-index: 10;
  top: 21px;
  right: -8px;
  width: 16px;
  height: 16px;
  transform: rotate(-45deg);
  background-color: #D42F3D;
}
body > section > div > div:nth-child(1) > ul > li > span:nth-child(2).section_span {
  display: block;
}
body > section > div > div:nth-child(1) > ul li.section_default {
  color: #fff;
}
body > section > div > div:nth-child(1) > div {
  display: none;
  color: #555;
  position: absolute;
  z-index: 5;
  top: 0;
  left: 190px;
  width: 750px;
  padding: 30px;
}
body > section > div > div:nth-child(1) > div > span {
  font-size: 18px;
  padding: 0 0 10px 0;
  display: inline-block;
}
body > section > div > div:nth-child(1) > div > p {
  width: 100%;
  height: 4px;
  background-color: #EEEEEE;
}
body > section > div > div:nth-child(1) > div > p > span {
  display: block;
  height: 4px;
  background-color: #AF2131;
}
body > section > div > div:nth-child(1) > div:nth-child(2) > div:nth-child(3) > table,
body > section > div > div:nth-child(1) > div:nth-child(3) > div:nth-child(3) > table {
  width: 100%;
}
body > section > div > div:nth-child(1) > div:nth-child(2) > div:nth-child(3) > table > tbody,
body > section > div > div:nth-child(1) > div:nth-child(3) > div:nth-child(3) > table > tbody {
  text-align: center;
}
body > section > div > div:nth-child(1) > div:nth-child(2) > div:nth-child(3) > table > tbody > tr:nth-child(odd) > td,
body > section > div > div:nth-child(1) > div:nth-child(3) > div:nth-child(3) > table > tbody > tr:nth-child(odd) > td {
  background-color: #EEEEEE;
}
body > section > div > div:nth-child(1) > div:nth-child(2) > div:nth-child(3) > table > tbody > tr:nth-child(ever) > td,
body > section > div > div:nth-child(1) > div:nth-child(3) > div:nth-child(3) > table > tbody > tr:nth-child(ever) > td {
  background-color: #FFFFFF;
}
body > section > div > div:nth-child(1) > div:nth-child(2) > div:nth-child(3) > table > tbody > tr:not(:nth-child(1)),
body > section > div > div:nth-child(1) > div:nth-child(3) > div:nth-child(3) > table > tbody > tr:not(:nth-child(1)) {
  height: 80px;
  line-height: 80px;
  display: none;
}
body > section > div > div:nth-child(1) > div:nth-child(2) > div:nth-child(3) > table > tbody > tr:nth-child(1) > td,
body > section > div > div:nth-child(1) > div:nth-child(3) > div:nth-child(3) > table > tbody > tr:nth-child(1) > td {
  height: 40px;
  line-height: 40px;
}
body > section > div > div:nth-child(1) > div:nth-child(2) > div:nth-child(3) > table > tbody > tr.ng-scope.dislayTr,
body > section > div > div:nth-child(1) > div:nth-child(3) > div:nth-child(3) > table > tbody > tr.ng-scope.dislayTr {
  display: table-row;
}
body > section > div > div:nth-child(1) > div:nth-child(2) > div:nth-child(3) > p,
body > section > div > div:nth-child(1) > div:nth-child(3) > div:nth-child(3) > p {
  text-align: right;
}
body > section > div > div:nth-child(1) > div:nth-child(2) > div:nth-child(3) > p > a,
body > section > div > div:nth-child(1) > div:nth-child(3) > div:nth-child(3) > p > a {
  text-align: center;
  display: inline-block;
  width: 42px;
  line-height: 18px;
  color: #CCCCCC;
  border: 1px solid #ccc;
  margin: 16px 10px 0 0;
  padding: 5px 10px;
  border-radius: 5px;
}
body > section > div > div:nth-child(1) > div:nth-child(2) > div:nth-child(3) > p > a:nth-child(2),
body > section > div > div:nth-child(1) > div:nth-child(3) > div:nth-child(3) > p > a:nth-child(2) {
  color: #D42F3D;
}
body > section > div > div:nth-child(1) > div:nth-child(6) > div > ul > li {
  height: 77px;
  border-bottom: 1px solid #EFEFEF;
  text-align: center;
}
body > section > div > div:nth-child(1) > div:nth-child(6) > div > ul > li > span,
body > section > div > div:nth-child(1) > div:nth-child(6) > div > ul > li > a {
  padding: 0 50px;
  text-align: center;
  line-height: 78px;
}
body > section > div > div:nth-child(1) > div:nth-child(6) > div > ul > li > span:nth-child(1) {
  float: left;
}
body > section > div > div:nth-child(1) > div:nth-child(6) > div > ul > li > span:nth-child(2) {
  display: inline-block;
}
body > section > div > div:nth-child(1) > div:nth-child(6) > div > ul > li > a {
  float: right;
  color: #4698CE;
}
body > section > div > div:nth-child(1) .section_details {
  display: block;
}
body > footer {
  background-color: #000000;
  color: #FFFFFF;
  text-align: center;
  line-height: 63px;
}
