* {
  margin: 0;
  padding: 0;
  font-family: "Microsoft YaHei", "WenQuanYi Micro Hei", Arial, Verdana, Tahoma, sans-serif;
  font-size: 14px;
}
a {
  text-decoration: none;
}
ul,
li {
  list-style-type: none;
}
body > header > div > ul {
  max-width: 1140px;
  margin: 0 auto;
  text-align: justify;
  height: 62px;
}
body > header > div > ul > li:not(:nth-child(9)) {
  display: inline-block;
  vertical-align: top;
}
body > header > div > ul > li:not(:nth-child(9)) > a {
  display: block;
  line-height: 62px;
  color: #666;
  padding: 0 10px;
}
body > header > div > ul > li:not(:nth-child(9)) > a > img {
  display: block;
}
body > header > div > ul > li:not(:nth-child(9)) > a:hover {
  color: #fff;
  background-color: #32A5E7;
  transition: all 0.45s linear;
}
body > header > div > ul > li:not(:nth-child(9)) > .default {
  color: #fff;
  background-color: #32A5E7;
}
body > header > div > ul > li:nth-child(1) > a {
  padding: 0;
}
body > header > div > ul > li:nth-child(9) {
  width: 100%;
  display: inline-block;
}
body > section {
  background-color: #EEEEEE;
  padding: 0 0 17px 0;
}
body > section > div {
  max-width: 1140px;
  margin: 0 auto;
}
body > section > div > p {
  line-height: 72px;
}
body > section > div > p > a {
  color: #666;
}
body > section > div > div > ul > li {
  display: none;
  width: 270px;
  padding: 10px;
  box-sizing: border-box;
  background-color: #fff;
  margin: 0 7px 7px 7px;
}
body > section > div > div > ul > li > a {
  display: block;
}
body > section > div > div > ul > li > a > img {
  display: block;
  margin: 0 auto;
}
body > section > div > div > ul > li > h4 {
  padding: 10px 5px;
}
body > section > div > div > ul > li > h4 > a {
  color: #666;
}
body > section > div > div > ul > li > ul {
  text-align: justify;
  height: 40px;
}
body > section > div > div > ul > li > ul > li {
  display: inline-block;
}
body > section > div > div > ul > li > ul > li > a {
  color: #666;
}
body > section > div > div > ul > li.li_display {
  display: inline-block;
}
body > section > div > div.transaction {
  text-align: right;
}
body > section > div > div.transaction > a {
  text-align: center;
  display: inline-block;
  width: 42px;
  line-height: 18px;
  color: #666;
  border: 1px solid #ccc;
  margin: 16px 10px 0 0;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #FFFFFF;
}
body > footer {
  background-color: #000000;
  color: #FFFFFF;
  text-align: center;
  line-height: 63px;
}
